[Unit]
Description=Numboozle Service
After=network.target postgresql.service

[Service]
User=observer
WorkingDirectory=/srv/numboozle
ExecStart=/srv/numboozle/numboozle --config /srv/configs/numboozle.yml
Environment=PORT=8080
Restart=always
RestartSec=4
StandardOutput=journal
StandardError=journal
SyslogIdentifier=numboozle

[Install]
WantedBy=multi-user.target